# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json

# Logs
logs/
*.log

# Environment variables
.env
.env.local
.env.*.local

# Sistema operativo
.DS_Store
Thumbs.db

# Editor / IDE
.vscode/
.idea/
*.swp

# Builds / Cache
dist/
build/
.cache/
.tmp/

# Public uploads (si se generan dinámicamente)
public/uploads/
